@font-face {
  font-family: "Roboto";
  src: url("fonts/Lora\,Roboto/Roboto/static/Roboto-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Lora";
  src: url("fonts/Lora\,Roboto/Lora/static/Lora-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

/* Contains all our content (super container) */
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

/* Container for the navbar */
.navbar {
  display: flex;
  font-family: Roboto, sans-serif;
  letter-spacing: 1.6px;
  align-items: center;
  justify-content: space-between;
  width: 67%;
  padding: 20px 0;
}

.navbar p {
  margin-bottom: 0;
}

/* Contains links (Home, About, Products, Contact) */
.link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

/* Styling for each link */
.link {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
}

/* The active link (the one the user is on) */
.active {
  display: flex;
  font-weight: bold;
  font-style: italic;
  align-items: center;
  color: #ef767a;
}

/* Large Image of bottles on the page */
.hero {
  width: 67%;
  height: 320px;
  object-fit: cover;
}

/* Main content (under the hero)*/
.content {
  font-family: Lora, serif;
  margin-top: 30px;
  width: 100%;
  padding: 12% 18%;
  display: flex;
  flex-direction: column;
  gap: 93px;
}

/* The footer of the page */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background: #f8f8f8;
  width: 100%;
  gap: 45%;
}

footer p {
  margin: 0;
  font-size: 16px;
  letter-spacing: 1.6px;
  font-family: Roboto, Light;
}

/* Container for the image, header, and caption feature */
.profile {
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: fit-content;
}

.profile img {
  width: 224px;
  height: 224px;
  object-fit: cover;
  border-radius: 50%;
  flex-shrink: 0;
}

.profile h1 {
  color: #ef767a;
  letter-spacing: 2.4px;
  font-family: Roboto, sans-serif;
  font-size: 24px;
}

.profile span {
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
  width: 513px;
}

.profile figcaption {
  font-family: Lora, serif;
  font-size: 16px;
}

/* --------HOME-------- */
.home-content {
  width: 67%;
  height: 595px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.home-content p {
  width: 513px;
  letter-spacing: 1.6px;
}

/* --------ABOUT-------- */

/* --------CONTACT-------- */

.contact-content {
  width: 67%;
  padding: 176px 136px;
  font-family: Roboto, Light;
  letter-spacing: 1.6px;
}

.contact-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 61px;
}

.contact-form button {
  background: #ef767a;
  border: none;
  border-radius: 38px;
  width: 246px;
  height: 76px;
  font-size: 30px;
  font-family: Roboto, serif;
  letter-spacing: 3px;
  color: white;
  font-weight: 35;
}

.contact-form button:hover {
  cursor: pointer;
}

.credentials {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 13px;
}

.credentials label {
  text-align: left;
  font-family: Roboto;
  font-size: 18px;
}

.credentials input {
  height: 81px;
  border: 3px solid #ef767a;
}

.credentials span {
  color: #f08184;
}
