* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
}

.red-text {
  color: red;
  font-size: 24px;
}
